ZHIPU_API_URL=
ZHIPU_API_KEY=
ZHIPU_MODEL="

ALI_API_URL=
ALI_API_KEY=
ALI_MODEL=

# Embedding API Configuration
EMBEDDING_API_URL=
EMBEDDING_MODEL=

# Reranker API Configuration
RERANK_API_URL=
RERANK_MODEL=

# RAG Paths
CHROMA_PERSIST_DIR=
DOCUMENTS_DIR=

# MinerU PDF 解析
MinerU_ACC_URL=https://mineru.net/api/v4/extract/task
MinerU_ACC_KEY=
MinerU_MODEL_VERSION=vlm
MinerU_LIGHT_URL=https://mineru.net/api/v1/agent/parse/url
